.recipeViewContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 144, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recipeView{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: max-content;
    width: 50%;
    min-width: 500px;
    margin: auto;
    background-color:honeydew;
    min-height: 50%;
    overflow-y: auto;
    border-radius: 50px;
}

.outsideView{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.recipeView button{
    display: block;
    margin: auto auto 2% auto;
}

.star {
    display: inline-block;
    position: relative;
}

.star input[type="checkbox"] {
    opacity: 0;
    position: relative;
}

.star label {
    position: absolute;
    left: 0;
}

.star input[type="checkbox"] + label::after{
    content: "☆";
    display: inline-block;
    position: absolute;
}

.star input[type="checkbox"]:checked + label::after{
    content: "★";
}

/* .star label::before,
.star label::after {
    position: absolute;
    top: 50%;
    left: 0;
} */